@value big-screen, tablet-bp, tablet-mini-bp, mobile-landscape-bp, mobile-bp from '../../styles/variables.module.css';

.sectionContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  row-gap: 3.5rem;
  column-gap: 1rem;
  padding: var(--padding-section);
  margin-top: 115px;
}

.sectionContainer h4 {
  color: var(--secondary-color);
  padding: 2rem 0 0;
  font-size: 1.5rem;
  animation-name: moveInLeft;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.sectionContainer h2 {
  font-size: 3rem;
  font-weight: 600;
  animation-name: moveInLeft;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.sectionContainer h5 {
  font-size: 1.5rem;
  opacity: .8;
  animation-name: moveInLeft;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.latamMapContainer {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  align-items: center;
  justify-content: center;
  animation-name: moveInTop;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

/* --------- Media Queries ----------- */

@media big-screen {
  .sectionContainer {
    padding: var(--padding-section-big-screen);
  }
}

@media tablet-bp {
  .sectionContainer {
    padding: var(--padding-section-tablet);
    row-gap: 3rem;
  }

  .sectionContainer h4 {
    font-size: 1.3rem;
  }

  .sectionContainer h2 {
    font-size: 2.5rem;
  }

  .sectionContainer h5 {
    font-size: 1.2rem;
  }

  .latamMap {
    width: 280px;
    height: 315px; /* 280 * 1.125 */
  }
}

@media tablet-mini-bp {
  .sectionContainer h4 {
    grid-column: 1 / 3;
    font-size: 1rem;
  }

  .sectionContainer h2 {
    font-size: 1.5rem;
  }

  .sectionContainer h5 {
    grid-column: 1 / 3;
    font-size: .9rem;
  }

  .latamMapContainer {
    grid-row: 2 / 3;
  }

  .latamMap {
    width: 150px;
    height: 169px;
  }
}

@media mobile-landscape-bp {
  .sectionContainer {
    padding: var(--padding-section-mobile-landscape);
    row-gap: 2rem;
  }
}

@media mobile-bp {
  .sectionContainer {
    padding: var(--padding-section-mobile);
  }

  .sectionContainer h4 {
    grid-column: 1 / 3;
    font-size: .8rem;
  }

  .sectionContainer h2 {
    font-size: 1.2rem;
  }

  .sectionContainer h5 {
    grid-column: 1 / 3;
    font-size: .8rem;
  }

  .latamMap {
    width: 130px;
    height: 146px;
  }
}

/* ----- Animations ------ */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}