@value big-screen, tablet-bp, tablet-mini-bp, mobile-landscape-bp, mobile-bp from '../../styles/variables.module.css';

.technologiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-section);
}

.technologiesContainer h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.logosContainer {
  display: grid;
  grid-template-columns: repeat(10, minmax(3rem, 1fr));
  gap: 1rem;
  margin-top: 3.5rem;
}

.logoContainer {
  opacity: 0;
}

.logoContainer.animation {
  opacity: 1;
  transition: opacity 0s;
  animation-name: moveInBottom;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

/* --------- Media Queries ----------- */

@media big-screen {
  .technologiesContainer {
    padding: var(--padding-section-big-screen);
  }
}

@media tablet-bp {
  .technologiesContainer {
    padding: var(--padding-section-tablet);
  }
}

@media tablet-mini-bp {
  .technologiesContainer h1 {
    font-size: 1.5rem;
  }

  .logosContainer {
    gap: .8rem;
    margin-top: 3rem;
  }

  .image {
    width: 60px;
    height: 60px;
  }
}

@media mobile-landscape-bp {
  .logosContainer {
    grid-template-columns: repeat(6, minmax(3rem, 1fr));
    gap: .6rem;
    margin-top: 2.5rem;
  }
}

@media mobile-bp {
  .technologiesContainer h1 {
    font-size: 1.2rem;
  }

  .logosContainer {
    grid-template-columns: repeat(5, minmax(3rem, 1fr));
    gap: .3rem;
    margin-top: 2rem;
  }

  .image {
    width: 50px;
    height: 50px;
  }
}

/* -----Animations----- */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}