@value tablet-mini-bp, mobile-landscape-bp from '../../styles/variables.module.css';

.benefitCardContainer {
  box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.2);
  padding: 1.5rem 2.8rem;
  border-radius: .5rem;
}

.animation.right {
  animation-name: moveInRight;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.animation.left {
  animation-name: moveInLeft;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
}

.title {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.title > img {
  /* Icons color */
  filter: invert(48%) sepia(87%) saturate(452%) hue-rotate(156deg) brightness(97%) contrast(92%);
}

.descriptionContainer {
  display: flex;
  font-weight: 600;
  opacity: .8;
  margin-bottom: 15px;
}

.descriptionContainer .checkMark {
  min-width: 30px;
}

.descriptionContainer .description {
  flex-grow: 1;
}

/* --------- Media Queries ----------- */

@media tablet-mini-bp {
  .benefitCardContainer {
    padding: 1.2rem 2.5rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .title > img {
    width: 25px;
    height: 25px;
  }
}

@media mobile-landscape-bp {
  .benefitCardContainer {
    padding: 1rem 2rem;
  }

  .title {
    font-size: 1rem;
    gap: .5rem;
  }

  .title > img {
    width: 20px;
    height: 20px;
  }

  .description {
    font-size: .8rem;
  }
}

/* ----- Animations ------ */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}