.benefitCardContainer {
  box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.2);
  padding: 1.5rem 2.8rem;
  border-radius: .5rem;
}


.animation.right {
  animation-name: moveInRight;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

.animation.left {
  animation-name: moveInLeft;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

.title {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.title > img {
  filter: invert(69%) sepia(76%) saturate(7364%) hue-rotate(256deg) brightness(95%) contrast(108%);
}

.description {
  font-weight: 300;
}

/* ----- Animations ------ */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}