.processContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 10rem;
  background-color: var(--light-background-color);
  -webkit-clip-path: polygon(0 10rem, 100% 0, 100% calc(100% - 10rem), 0 100%);
  clip-path: polygon(0 10rem, 100% 0, 100% calc(100% - 10rem), 0 100%);
}

.processContainer h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.stepsContainer {
  width: 90%;
}