@value big-screen, tablet-bp, tablet-mini-bp, mobile-landscape-bp, mobile-bp from '../../styles/variables.module.css';

.contactSectionContainer {
  color: #fff;
  background-color: var(--primary-color);
  text-align: center;
  padding: var(--padding-section);
  -webkit-clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
}

.contactSectionContainer h2 {
  font-size: 3rem;
  margin: 10rem 0 2rem;
}

.contactSectionContainer button {
  margin-bottom: 2rem;
}

.contactSectionContainer.animation h2 {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.contactSectionContainer.animation button {
  animation-name: moveInBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

/* --------- Media Queries ----------- */

@media big-screen {
  .contactSectionContainer {
    padding: var(--padding-section-big-screen);
  }
}

@media tablet-bp {
  .contactSectionContainer {
    padding: var(--padding-section-tablet);
  }

  .contactSectionContainer h2 {
    font-size: 2.5rem;
  }

  .contactSectionContainer button {
    margin-bottom: 1.5rem;
  }
}

@media tablet-mini-bp {
  .contactSectionContainer h2 {
    font-size: 1.5rem;
  }
}

@media mobile-landscape-bp {
  .contactSectionContainer {
    padding: var(--padding-section-mobile-landscape);
  }
}

@media mobile-bp {
  .contactSectionContainer {
    padding: var(--padding-section-mobile);
  }

  .contactSectionContainer h2 {
    font-size: 1.2rem;
  }

  .contactSectionContainer button {
    margin-bottom: 1rem;
  }
}

/* ----- Animations ----- */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}