:root {
  --padding-section: 2.5rem 10rem;
  --primary-color: #273BDF;
  --secondary-color: #27a2df;
  --white-color: #fff;
  --light-background-color: #edf2fa;
  --primary-color-dark: #131c63;
  --font-primary-color: rgba(0, 0, 0, 0.8);
  --error-color: #ce4646;
  --success-color: #1a7329;
  --header-height: 90px;
  --collapse-menu-item-height: 45px;

  /* Responsive values */
  --padding-section-big-screen: 2.5rem 18vw;
  --padding-section-tablet: 2.5rem 7rem;
  --padding-section-mobile-landscape: 2.3rem 5rem;
  --padding-section-mobile: 2.1rem 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  color: var(--font-primary-color);
}

body {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
