:root {
  --padding-section: 2.5rem 10rem;
  --primary-color: #273BDF;
  --secondary-color: #27a2df;
  --white-color: #fff;
  --light-background-color: #edf2fa;
  --primary-color-dark: #131c63;
  --font-primary-color: rgba(0, 0, 0, 0.8);
  --error-color: #ce4646;
  --success-color: #1a7329;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  color: var(--font-primary-color);
}

body {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
