.button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding: .6rem 1rem;
  border-radius: 1.5rem;
  transition: all .2s;
  width: 100%;
  max-width: 350px;
}

.button.reverse {
  background-color: white;
  color: var(--primary-color);
}

.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: -1px 3px 31px -12px rgba(0,0,0,0.75);
}

.button:hover.reverse {
  box-shadow: -1px 3px 31px -12px rgba(0,0,0,1);
}

.button:active {
  transform: translateY(0px);
  box-shadow: none;
}