@value big-screen, tablet-bp, tablet-mini-bp, mobile-landscape-bp, mobile-bp from '../../styles/variables.module.css';

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--padding-section);
  padding-bottom: 1rem;
  background-color: var(--primary-color-dark);
  color: white;
}

.infoSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 0;
}

.infoSection h3 {
  margin-bottom: .5rem;
}

.infoSection .infoItem {
  font-weight: 300;
}

.registerSection {
  display: flex;
  align-items: flex-end;
  padding-top: 1rem;
}

/* --------- Media Queries ----------- */

@media big-screen {
  .footerContainer {
    padding: var(--padding-section-big-screen);
  }
}

@media tablet-bp {
  .footerContainer {
    padding: var(--padding-section-tablet);
  }
}

@media tablet-mini-bp {
  .footerContainer {
    flex-direction: column;
  }
  .registerSection {
    font-size: .8rem;
  }
  .infoSection {
    font-size: .8rem;
  }
}

@media mobile-landscape-bp {
  .footerContainer {
    padding: var(--padding-section-mobile-landscape);
  }
}