@value tablet-mini-bp, mobile-landscape-bp, mobile-bp from '../../styles/variables.module.css';

.logoContainer {
  display: flex;
  align-items: center;
}

.logoBox {
  position: relative;
  background-color: transparent;
  margin-right: .4rem;
  height: 2rem;
  width: 2rem;
}

.footer .logoBox {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

.dContainer {
  position: absolute;
  left: -2px;
  top: 4px;
}

.footer .dContainer {
  left: -3px;
  top: 8px;
}

.name {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;
}

.footer .name {
  color: white;
  align-self: flex-start;
  font-size: 1.7rem;
}

/* --------- Media Queries ----------- */

@media tablet-mini-bp {
  .footer .name {
    font-size: 1.2rem;
  }
}