@value tablet-bp from '../../styles/variables.module.css';

.itemsContainer {
  display: flex;
  gap: 1.8rem;
}

.collapseButtonContainer {
  display: none;
}

@media tablet-bp {
  .itemsContainer {
    display: none;
  }
  .collapseButtonContainer {
    display: flex;
  }
}