.benefitsContainer {
  padding: var(--padding-section);
  display: grid;
  row-gap: 2rem;
  margin-top: -2.5rem;
  /* background-color: var(--light-background-color);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); */
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.benefitsContainer h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}