.benefitsContainer {
  padding: var(--padding-section);
  display: grid;
  row-gap: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.benefitsContainer h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}